**/__pycache__/**
**/*.sqlite
.ipython/profile_default/startup/
.config/ranger/tagged
.config/ranger/history
.config/pgcli/log
.config/pgcli/history
.vim/view/
konsole/bookmarks.xml*

.vim/plugged/*
.vim/.netrwhist

.tmux/*
!.tmux/tpm
