[user]
	email = fabio4335@gmail.com
	name = eximus
	signingkey = F6DC6D0149C7B715
[push]
	default = current
[core]
	editor = vim
	pager = delta
[init]
	defaultBranch = master
[advice]
	statusHints = false
[pull]
	rebase = false
[branch]
	sort = -committerdate
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	unstage = restore --staged
	last = log -1 HEAD
	lol = log --oneline --graph --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%Creset %s (%Cblue%an%Creset, %cr)' --date-order  --color=always
	summary = !which onefetch && onefetch --no-color-palette --no-art

[delta]
	features = line-numbers decorations
	syntax-theme = none
	minus-style = bold 234 1
	minus-emph-style = bold 9 reverse
	minus-non-emph-style = bold 234 1
	plus-style = bold 234 2
	plus-emph-style = bold 10 reverse
	plus-non-emph-style = bold 234 2
	whitespace-error-style = 22 reverse
[interactive]
	diffFilter = delta --color-only
[delta "decorations"]
	file-style = bold cyan ul
	file-decoration-style = none
[delta "line-numbers"]
	line-numbers-minus-style = 1 bold
	line-numbers-plus-style = 2 bold
