[user]
	email = fabio4335@gmail.com
	name = eximus
	signingkey = 25C403774F37DD6C
[commit]
	gpgsign = true
[push]
	default = current
	followTags = true
[core]
	editor = vim
	pager = delta
[init]
	defaultBranch = master
[advice]
	statusHints = false
[pull]
	rebase = false
[branch]
	sort = -committerdate
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	unstage = restore --staged
	last = log -1 HEAD
	lol = log --oneline --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%(decorate:prefix= {,suffix=})%Creset %s - %C(bold blue)%an - %C(black)%cr%Creset' --date-order  --color=always
	summary = !which onefetch && onefetch --no-color-palette --no-art

[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	syntax-theme = none
	minus-style = bold 1
	minus-emph-style = bold 9 reverse
	minus-non-emph-style = bold 1
	plus-style = bold 2
	plus-emph-style = bold 10 reverse
	plus-non-emph-style = bold 2
	whitespace-error-style = 22 reverse
[delta "decorations"]
	file-style = bold yellow
	file-decoration-style = none
	hunk-header-decoration-style = none
	hunk-header-line-number-style = bold blue
	hunk-header-style = line-number blue
[delta "line-numbers"]
	line-numbers-minus-style = 1 bold
	line-numbers-plus-style = 2 bold
