[submodule "VundleVim/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim-airline/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "scrooloose/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "Xuyuanp/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "airblade/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "tpope/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "tpope/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "tpope/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "jeffkreeftmeijer/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "sjl/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "easymotion/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "AndrewRadev/linediff.vim"]
	path = .vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "tmux-plugins/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "roxma/vim-tmux-clipboard"]
	path = .vim/bundle/vim-tmux-clipboard
	url = https://github.com/roxma/vim-tmux-clipboard
[submodule "PProvost/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule "vim-python/python-syntax"]
	path = .vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "benknoble/vim-auto-origami"]
	path = .vim/bundle/vim-auto-origami
	url = https://github.com/benknoble/vim-auto-origami
[submodule "morhetz/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "justinmk/vim-syntax-extra"]
	path = .vim/bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "mhinz/vim-startify"]
	path = .vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "junegunn/vim-peekaboo"]
	path = .vim/bundle/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "tpope/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "jeetsukumaran/vim-markology"]
	path = .vim/bundle/vim-markology
	url = https://github.com/jeetsukumaran/vim-markology
[submodule "ctrlpvim/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "osyo-manga/vim-anzu"]
	path = .vim/bundle/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu
[submodule "Yilin-Yang/vim-markbar"]
	path = .vim/bundle/vim-markbar
	url = https://github.com/Yilin-Yang/vim-markbar
[submodule "machakann/vim-highlightedyank"]
	path = .vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "neoclide/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "MTDL9/vim-log-highlighting"]
	path = .vim/bundle/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting
[submodule "akinomyoga/ble.sh"]
	path = .bash/ble.sh
	url = https://github.com/akinomyoga/ble.sh
[submodule "rhysd/clever-f.vim"]
	path = .vim/bundle/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim
