**/__pycache__/**
**/*.sqlite
.ipython/profile_default/startup/
.config/ranger/tagged
.config/ranger/history
.config/pgcli/log
.config/pgcli/history
konsole/bookmarks.xml*

.vim/plugged/*
.vim/view/
.vim/.netrwhist
.vim/.VimballRecord

.tmux/*
!.tmux/tpm
