**/__pycache__/**
**/*.sqlite
.ipython/profile_default/startup/
.config/ranger/tagged
.config/ranger/history
.vim/view/
konsole/bookmarks.xml*

# vim plugins repos (this is needed because .vim/bundle/Vundle is necessary)
.vim/bundle/emmet-vim
.vim/bundle/python-syntax
.vim/bundle/vim-devicons
.vim/bundle/vim-hitspop
.vim/bundle/vim-numbertoggle
.vim/bundle/quick-scope
.vim/bundle/coc.nvim
.vim/bundle/ctrlp.vim
.vim/bundle/dart-vim-plugin
.vim/bundle/gruvbox
.vim/bundle/gundo.vim
.vim/bundle/linediff.vim
.vim/bundle/nerdtree
.vim/bundle/nerdtree-git-plugin
.vim/bundle/vim-airline
.vim/bundle/vim-auto-origami
.vim/bundle/vim-commentary
.vim/bundle/vim-easymotion
.vim/bundle/vim-fugitive
.vim/bundle/vim-gitgutter
.vim/bundle/vim-highlightedyank
.vim/bundle/vim-log-highlighting
.vim/bundle/vim-markbar
.vim/bundle/vim-markology
.vim/bundle/vim-peekaboo
.vim/bundle/vim-ps1
.vim/bundle/vim-rhubarb
.vim/bundle/vim-startify
.vim/bundle/vim-surround
.vim/bundle/vim-syntax-extra
.vim/bundle/vim-tmux-clipboard
.vim/bundle/vim-tmux-focus-events
.vim/bundle/tabular
.vim/bundle/vimux
.vim/bundle/fzf
.vim/bundle/fzf.vim

# tmux plugins repos (.tmux/tpm is needed)
.tmux/tmux-prefix-highlight
.tmux/tmux-battery
.tmux/tmux-copycat
.tmux/tmux-fingers
.tmux/tmux-plugin-datetime
.tmux/tmux-plugin-uptime
.tmux/extrakto
