$include /etc/inputrc

# correct completion from the middle of a word
set skip-completed-text on
# ignore path case
set completion-ignore-case on
# treat hyphens and underscores as equivalent
set completion-map-case on
# use only one tab to provide glob completion
# set show-all-if-ambiguous on

# mark directorios, executables and symlinks on completion with / , * or @
set mark-directories on
set mark-symlinked-directories on

set vi-ins-mode-string "\033[1;33mins\033[m "
set vi-cmd-mode-string "\033[1;32mcmd\033[m "
set emacs-mode-string ""
set visible-stats on

# input modes (NOTE, C-z changes the input mode)
set show-mode-in-prompt on

# make vi-insert behave like usual emacs
"\C-k": kill-line
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-l": clear-screen
"\eb": backward-word
"\ef": forward-word

# delete until the previous path separator /
"\C-b": unix-filename-rubout

# cicle through completions
"\e[Z": menu-complete

"\C-p": history-search-backward
"\C-n": history-search-forward

# "\C-f": shell-expand-line
# "\C-f": glob-expand-word
# "\C-g": dabbrev-expand
# "\C-h": complete-into-braces

"\C-xr": re-read-init-file
"\C-xi": redraw-current-line

# NOTE C-j is now bound in ble.sh
# "\C-je": edit-and-execute-command

# "\C-j": nop
# # quote word near cursor
# "\C-jq": "\eb\"\ef\""
# # reload bashrc
# "\C-jb": "\C-u source ~/.bashrc\C-m"
# # edit the path
# "\C-jp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"
# # jump into last comand directory
# "\C-jd": 'cd !$ \015'
# # generate awk command
# "\C-ja": 'awk \'{}\'\eOD\eOD'
# # make subcommand
# "\C-jm": '\C-a "$(\C-e)"\C-a'
# # add sudo before command
# "\C-js": "\C-asudo \C-e"
# # run command in every subdirectory
# "\C-jf": 'for f in *; do cd $f &&  && cd .. ; done\eb\eb\eOD\eOD\eOD\eOD'
# # sync history
# "\C-jh": ' history -a; history -n\C-m'

