$include /etc/inputrc

# input modes
set keymap emacs
set editing-mode emacs
set show-mode-in-prompt off

set vi-ins-mode-string "\033[40;33m ins \033[47;30m\033[0m"
set vi-cmd-mode-string "\033[40;34m cmd \033[47;30m\033[0m"
set visible-stats on

# correct completion from the middle of a word
set skip-completed-text on
# ignore path case
set completion-ignore-case on
# use only one tab to provide glob completion
#set show-all-if-ambiguous on

# mark directorios and symlinks on completion with / or @
set mark-directories on
set mark-symlinked-directories on

# delete until the previous path separator /
"\C-b": unix-filename-rubout

# cicle through completions
#"\C-i": menu-complete
#"\e[Z": menu-complete-backward
"\e[Z": menu-complete

"\C-p": history-search-backward
"\C-n": history-search-forward

"\C-x\C-r": re-read-init-file
"\C-x\C-x": redraw-current-line

"\C-f": shell-expand-line
#"\C-f": glob-expand-word
"\C-g": dabbrev-expand
"\C-h": complete-into-braces

$if mode=vi
# make v i-insert behave like usual emacs
	"\C-k": kill-line
	"\C-a": beginning-of-line
	"\C-e": end-of-line
	"\C-l": clear-screen
	"\eb": backward-word
	"\ef": forward-word
$endif

# quote word near cursor
"\C-xq": "\eb\"\ef\""

# reload bashrc
"\C-xb": "\C-usource ~/.bashrc\C-m"

# edit the path
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"
