! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

! Enable the extended coloring options
rofi.color-enabled: true

!                  bg       border   separator
rofi.color-window: #32302f, #32302f, #a89984

!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #32302f, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.color-active: #d79921, #32302f, #d79921, #fabd2f, #32302f
rofi.color-urgent: #cc241d, #32302f, #cc241d, #fb4934, #32302f


! Arc theme with center positioning
!rofi.color-enabled: true
!rofi.color-window: argb:dc353946, argb:0606060, argb:c2626262
!rofi.color-normal: argb:00353946, #a8a8a8, argb:00353946, #5294e2, #ffffff
!rofi.color-active: argb:00353946, #5294e2, argb:00353946, #5294e2, #fdf6e3
!rofi.color-urgent: argb:00353946, #dc322f, argb:00353946, #dc322f, #fdf6e3
!
!! Separator style (none, dash, solid)
!rofi.separator-style:                solid
!!rofi.fullscreen:        true
!rofi.padding:           400
!rofi.hide-scrollbar:    true
!rofi.width:				1920
!rofi.yoffset:           0
!rofi.xoffset:           0

