/* remove folder icons from bookmarks */
#personal-bookmarks .bookmark-item[container="true"] .toolbarbutton-icon {
  display: none !important;
}

/* remove title bar space between tab list and window buttons */
.titlebar-spacer {
  display: none;
}
.titlebar-button {
  display: none !important;
}

.tab-background {
  margin-block: 0 !important;
}
#TabsToolbar-customization-target,
#tabbrowser-tabs {
  height: var(--tab-min-height);
}

/* show close button only on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  opacity: 0;
}
.tabbrowser-tab:not([pinned]) .tab-close-button:hover {
  opacity: 1;
}

/* hide the '+' (new tab) button from the tab bar until hover */
#tabs-newtab-button {
  display: none;
}

/* prepend the tab number before tab name */
.browser-toolbar {
  counter-reset: tabindex;
}
.tab-label::before {
  counter-increment: tabindex;
  content: counter(tabindex) ":";
  white-space: pre;
  opacity: 0.5;
}

/* change color of urls on address bar dropdown popup */
.urlbarView-url {
  color: #8ec07c !important;
  font-weight: bold;
  font-size: 14px !important;
}
.urlbarView-row[aria-selected="true"] .urlbarView-url {
  color: #282828 !important;
}

/* tab background before loading and unable to load page */
:root {
  --tabpanel-background-color: #282828 !important;
}

@-moz-document url-prefix(about:blank) {
  * {
    background-color: #282828;
  }
}
