:root {
  --tabpanel-background-color: #1d2021 !important;
  --tab-min-height: 30px !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
  --toolbarbutton-inner-padding: 6px !important;
  --toolbarbutton-border-radius: 0 !important;
  --tab-inline-padding: 12px !important;
}

/* remove title bar space between tab list and window buttons */
.titlebar-spacer {
  display: none;
}
.titlebar-button {
  display: none !important;
}

/* Tabs topbar */

/* .tab-background { */
/*   margin-block: 0 !important; */
/*   border-right: 0px solid rgba(0, 0, 0, 0) !important; */
/*   margin-left: -4px !important; */
/* } */
/* #TabsToolbar-customization-target, */
/* #tabbrowser-tabs { */
/*   height: var(--tab-min-height); */
/* } */
/*  */
/* #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) */
/*   > #tabbrowser-arrowscrollbox */
/*   > .tabbrowser-tab[first-visible-unpinned-tab] { */
/*   margin-inline-start: 0 !important; */
/* } */
/* #tabbrowser-tabs .tabbrowser-tab .tab-content { */
/*   padding: 6px !important; */
/*   max-height: 30px !important; */
/* } */
/*  */
/* .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) */
/*   > .tab-stack */
/*   > .tab-background { */
/*   box-shadow: none !important; */
/* } */
/*  */
/* .tabbrowser-tab[last-visible-tab="true"] { */
/*   padding-inline-end: 0 !important; */
/* } */

/* Tab sidebar */
.tab-background {
  border-radius: 0 !important;
  margin-inline: 0 !important;
  width: 100% !important;
}
#tabbrowser-tabs[orient="vertical"] {
  --tab-min-width: unset;
  --tab-inline-padding: unset; /*calc((var(--tab-collapsed-width) - var(--icon-size-default)) / 2);*/
}
.actions-list {
  & > moz-button:not(.tools-overflow) {
    --button-outer-padding-inline: var(--space-xxsmall);
    --button-outer-padding-block: var(--space-xxsmall);
  }
}

.tab-close-button {
  display: none !important;
}

/* greyed out unloaded tabs */
.tabbrowser-tab[pending="true"] {
  color: #7c6f64 !important;
}
.tabbrowser-tab:not([pinned])[pending="true"] .tab-icon-image {
  filter: grayscale(0.8) brightness(50%);
}

/* hide the '+' (new tab) button from the tab bar until hover */
#tabs-newtab-button {
  display: none;
}

/* prepend the tab number before tab name */
/* .browser-toolbar { */
/*   counter-reset: tabindex; */
/* } */
/* .tab-label::before { */
/*   counter-increment: tabindex; */
/*   content: counter(tabindex) ":"; */
/*   white-space: pre; */
/*   opacity: 0.5; */
/* } */

/* Url */

/* change color of urls on address bar dropdown popup */
.urlbarView-url {
  color: #8ec07c !important;
  font-weight: bold;
  font-size: 14px !important;
}
.urlbarView-row[aria-selected="true"] .urlbarView-url {
  color: #1d2021 !important;
}

/* #nav-bar:not([tabs-hidden="true"]) { */
/*   box-shadow: none; */
/* } */

#urlbar-input-container {
  background-color: var(--sfsecondary) !important;
  border: 2px solid rgba(0, 0, 0, 0) !important;
}

#urlbar-container {
  margin-left: 0 !important;
}

#urlbar[focused="true"] > #urlbar-background {
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

/* remove folder icons from bookmarks */
#personal-bookmarks .bookmark-item[container="true"] .toolbarbutton-icon {
  display: none !important;
}
