$include /etc/inputrc

# input modes
set keymap emacs
set editing-mode emacs
set show-mode-in-prompt off

set vi-ins-mode-string ".."
set vi-cmd-mode-string "."
set visible-stats on

# correct completion from the middle of a word
set skip-completed-text on

# cicle through completions
"\C-n": menu-complete
"\e[Z": menu-complete

"\C-p": history-search-backward
"\C-b": history-search-forward

"\C-x\C-x": re-read-init-file

